<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CalamariServlet</servlet-name>
        <servlet-class>org.cirdles.webServices.calamari.CalamariServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AmbapoServlet</servlet-name>
        <servlet-class>org.cirdles.webServices.ambapo.AmbapoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalamariServlet</servlet-name>
        <url-pattern>/prawn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AmbapoServlet</servlet-name>
        <url-pattern>/ambapo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
