<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <servlet>
        <servlet-name>SquidReportingServlet</servlet-name>
        <servlet-class>org.cirdles.webServices.squid.SquidReportingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SquidInkServlet</servlet-name>
        <servlet-class>org.cirdles.webServices.squid.SquidReportingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SquidInkLoginServlet</servlet-name>
        <servlet-class>org.cirdles.webServices.squidink.SquidInkLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SquidInkRegisterServlet</servlet-name>
        <servlet-class>org.cirdles.webServices.squidink.SquidInkRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SquidInkStartupServlet</servlet-name>
        <servlet-class>org.cirdles.webServices.squidink.SquidInkStartupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalamariServlet</servlet-name>
        <servlet-class>org.cirdles.webServices.calamari.CalamariServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AmbapoServlet</servlet-name>
        <servlet-class>org.cirdles.webServices.ambapo.AmbapoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopsoilServlet</servlet-name>
        <servlet-class>org.cirdles.webServices.topsoil.TopsoilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SquidInkTestServlet</servlet-name>
        <servlet-class>org.cirdles.webServices.squidink.SquidInkTester</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SquidInkStartupServlet</servlet-name>
        <servlet-class>org.cirdles.webServices.squidink.SquidInkStartupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileSender</servlet-name>
        <servlet-class>org.cirdles.webServices.squidink.FileSender</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalamariServlet</servlet-name>
        <url-pattern>/prawn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SquidInkServlet</servlet-name>
        <url-pattern>/squidinkserve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SquidInkLoginServlet</servlet-name>
        <url-pattern>/squidinklogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SquidInkRegisterServlet</servlet-name>
        <url-pattern>/squidinkregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SquidInkStartupServlet</servlet-name>
        <url-pattern>/squidinkstartup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SquidInkTestServlet</servlet-name>
        <url-pattern>/squidinktester</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SquidReportingServlet</servlet-name>
        <url-pattern>/squidReporting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileSender</servlet-name>
        <url-pattern>/filesender/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AmbapoServlet</servlet-name>
        <url-pattern>/ambapo/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopsoilServlet</servlet-name>
        <url-pattern>/topsoil</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <filter>
        <filter-name>CORS</filter-name>
        <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
        <init-param>
            <param-name>cors.allowOrigin</param-name>
            <param-value>http://localhost:5000,http://localhost:80,http://localhost:8080</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.methods</param-name>
            <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.headers</param-name>
            <param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
        </init-param>
        <init-param>
            <param-name>cors.exposed.headers</param-name>
            <param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
        </init-param>
        <init-param>
            <param-name>cors.supportedHeaders</param-name>
            <param-value>Accept, Origin, X-Requested-With, Content-Type, Last-Modified</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>CORS</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
